.choosing:hover {
    border-style: solid;
    border-width: 3px;
    border-color: blue;
}

.choseRight {
    border-style: solid;
    border-width: 3px;
    border-color: green;
}

.choseWrong {
    border-style: solid;
    border-width: 3px;
    border-color: red;
}


/* this is to enable support for safari ios 
https://stackoverflow.com/questions/35945970/jquery-on-click-not-working-on-iphone-touch-devices
*/
.choice {
    cursor: pointer;
}

.container {
    height: 80%;
    margin-top: 30px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    padding: 20px; 
    border: 3px solid green;
    background: white;
    
}

#questionResults {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    background: black;
}

#startGame {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#loadApiQuestions {
    margin-left: 20px;
    margin-right: 20px;
}

#loadApiDiv {
    padding-top: 50px;
}


body {
    background-image: url("../images/trivia-background.jpg");
    background-size: cover;
    box-sizing: border-box;
}
